{% extends 'base.html' %}

{% block meta %}
<title> Create Task </title>
{% endblock meta %}

{% block content %}

<div>

    <h1>Create Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Title: </td>
                <td><input type="text" name="title" placeholder="Title" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><input type="description" name="description" placeholder="Description" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
     
</div>

{% endblock content %}