{% extends 'base.html' %}

{% block meta %}
<title> Create Task </title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
<div>

    <h1 class = "display-5 mb-4 pt-3" style="text-align: center;">Create Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table class="table table-success table-striped">
            <tr>
                <td>Title: </td>
                <td><input type="text" name="title" placeholder="Title" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><input type="description" name="description" placeholder="Description" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn btn-success" type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
     
</div>
</div>

{% endblock content %}