{% extends 'base.html' %}

{% block content %}
<h1>Assignment 3 PBP/PBD</h1>

  <h3>Name: {{nama}} </h5>
  <p></p>

  <h3 >Student ID: {{NPM}} </h5>
<table>
    <tr>
    <th>Watched</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Release date</th>
    <th>Review</th>
    </tr>
    {% for data in watchlist_items %}
    <tr>
      <th>{{data.watched}}</th>
      <th>{{data.title}}</th>
      <th>{{data.rating}}</th>
      <th>{{data.release_date}}</th>
      <th>{{data.review}}</th>
    </tr>
    {% endfor %}
</table>

{% endblock content %}