{% extends 'base.html' %}

 {% block content %}

  <h1>Lab 1 Assignment PBP/PBD</h1>

  <h3>Name: {{nama}} </h5>
  <p></p>

  <h3 >Student ID: 2106751064 </h5>
  <p></p>

  <table>
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
{% for item in catalog_items %}
    <tr>
        <th>{{item.item_name}}</th>
        <th>{{item.item_price}}</th>
        <th>{{item.item_stock}}</th>
        <th>{{item.description}}</th>
        <th>{{item.rating}}</th>
        <th><a href="{{item.item_url}}">{{item.item_url}}</a></th>
    </tr>
{% endfor %}
  </table>

 {% endblock content %}
